<div class="card m-2" style="width: 18rem;">
    <img src="img/<%= product.thumbnail %>" class="card-img-top img-fluid" height="100" alt="..." >
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text">Precio $ <%=  product.price%></p>
      <p class="card-text">Stock: <%=  product.stock%></p>
      <p class="card-text">Codigo: <%=  product.code%></p>
      <p class="card-text">ID: <%=  product._id%></p>
    </div>
  </div>